<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gạch Men Long Khánh</title>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />


    <link href="~/Content/header-footer.css" rel="stylesheet" />
    <link href="~/Content/index.css" rel="stylesheet" />
    <link href="~/Content/sanpham.css" rel="stylesheet" />
    <link href="~/Content/loaisanpham.css" rel="stylesheet" />
    <link href="~/Content/chitietsanpham.css" rel="stylesheet" />
    <link href="~/Content/tuvan.css" rel="stylesheet" />
    <link href="~/Content/baiviet.css" rel="stylesheet" />

    <script src="~/Scripts/modernizr.custom.js"></script>
    <style>
        .fixed {
            position: fixed;
            top: 0;
            z-index: 1;
        }
    </style>

</head>
<body>
    <header>
        <!--Giao diện menu trên máy tính-->
        <div class="desktop hidden-xs hidden-sm">
            <!--Logo-->
            <img src="~/images/header-footer/logo-co.png" alt="" class="col-md-3 col-lg-3" />
            <!--Menu-->
            <ul class="col-md-8 col-lg-8">
                <li><a href="@Url.Action("Index","Home")">không gian đẹp</a></li>
                <li><a href="@Url.Action("Tuvan","Home")">góc tư vấn</a></li>
                <li>
                    <a href="@Url.Action("Sanpham","Home")">sản phẩm</a>
                    <ul>
                        <li><a href="@Url.Action("Loaisanpham","Home")">Gạch men cao cấp<img src="~/images/header-footer/menu-sp-1.png" alt="" /></a></li>
                        <li><a href="@Url.Action("Loaisanpham","Home")">Thiết bị vệ sinh<img src="~/images/header-footer/menu-sp-2.png" alt="" /></a></li>
                        <li><a href="@Url.Action("Loaisanpham","Home")">Thiết bị phòng tắm<img src="~/images/header-footer/menu-sp-3.png" alt="" /></a></li>
                    </ul>
                </li>
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
            </ul>
            <!--Nút tìm kiếm-->
            <a href="#" class="col-md-1 col-lg-1"><img src="~/images/header-footer/search-icon.png" alt="" /></a>
        </div>

        <!--Giao diện menu trên điện thoại-->
        <div class="mobile hidden-md hidden-lg">
            <nav id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger">Open Menu</button>
                <div>
                    <a href="@Url.Action("Index","Home")" class="logo"><img src="~/images/header-footer/logo-co.png" alt="" /></a>
                    <a href="#" class="search">"Tìm kiếm"</a>
                </div>
                <ul class="dl-menu">
                    <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                    <li>
                        <a href="@Url.Action("Sanpham","Home")">Sản phẩm</a>
                        <ul class="dl-submenu">
                            <li><a href="@Url.Action("Loaisanpham","Home")">Gạch men cao cấp</a></li>
                            <li><a href="@Url.Action("Loaisanpham","Home")">Thiết bị vệ sinh</a></li>
                            <li><a href="@Url.Action("Loaisanpham","Home")">Thiết bị phòng tắm</a></li>
                        </ul>
                    </li>
                    <li><a href="@Url.Action("Tuvan","Home")">Góc tư vấn</a></li>
                    <li><a href="@Url.Action("Index","Home")">Không gian đẹp</a></li>
                </ul>
            </nav>
        </div>
    </header>

    @RenderBody()
    <footer>
        <!--Menu và các nút mạng xã hội-->
        <div class="menu-social">
            <!--Menu-->
            <div class="menu col-md-9 col-lg-9">
                <ul class="col-md-4 col-lg-4">
                    <li class="title">GẠCH MEN CAO CẤP</li>
                    <li><a href="#">Gạch thảm phối cánh</a></li>
                    <li><a href="#">Gạch thảm Hoàng Gia</a></li>
                    <li><a href="#">Gạch trang trí bóng biển</a></li>
                    <li><a href="#">Gạch trang trí sỏi đá</a></li>
                    <li><a href="#">Gạch giả gỗ lát nền</a></li>
                    <li><a href="#">Gạch trang trí màu trơn</a></li>
                    <li><a href="#">Gạch lát nền nhà tắm</a></li>
                    <li><a href="#">Gạch men Hàn Quốc</a></li>
                </ul>
                <ul class="col-md-4 col-lg-4">
                    <li class="title">THIẾT BỊ VỆ SINH</li>
                    <li><a href="#">Bồn cầu Mỹ nhập khẩu</a></li>
                    <li><a href="#">Bàn cầu két tường</a></li>
                    <li><a href="#">Bàn cầu âm tường</a></li>
                    <li><a href="#">Tiểu nam</a></li>
                    <li><a href="#">Tiểu nữ</a></li>
                    <li><a href="#">Chậu đá</a></li>
                    <li><a href="#">Treo tường</a></li>
                    <li><a href="#">Bồn bệt</a></li>
                </ul>
                <ul class="col-md-4 col-lg-4">
                    <li class="title">THIẾT BỊ NHÀ TẮM</li>
                    <li><a href="#">Vòi sen Hàn Quốc</a></li>
                    <li><a href="#">Vòi sen treo kiểu Mỹ</a></li>
                    <li><a href="#">Bồn tắm dài 1m8</a></li>
                    <li><a href="#">Bồn tắm nhỏ</a></li>
                    <li><a href="#">Bồn tắm kiểu Nhật</a></li>
                    <li><a href="#">Bồn rửa cao cấp</a></li>
                    <li><a href="#">Bồn tắm đứng</a></li>
                    <li><a href="#">Chậu rửa đứng</a></li>
                </ul>
            </div>
            <!--Nút mạng xã hội-->
            <div class="social col-md-3 col-lg-3">
                <!--Biểu tượng mạng xã hội-->
                <div class="icon">
                    <a href="#"><img src="~/images/header-footer/facebook-icon.png" alt="" /></a>
                    <a href="#"><img src="~/images/header-footer/googleplus-icon.png" alt="" /></a>
                    <a href="#"><img src="~/images/header-footer/youtube-icon.png" alt="" /></a>
                    <a href="#"><img src="~/images/header-footer/twitter-icon.png" alt="" /></a>
                </div>
                <!--Ô tìm kiếm-->
                <div class="search">
                    <input type="text" placeholder="Nhập để tìm kiếm" value="" />
                    <a href="#"><img src="~/images/header-footer/search-icon.png" alt="" /></a>
                </div>
            </div>
        </div>
        <!--Thông tin công ty-->
        <div class="contact">
            <!--Bản đồ-->
            @*<div class="map col-md-8 col-lg-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.375720845213!2d106.67178731444253!3d20.856900999000022!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7a6065be8ecb%3A0x213f45542315c88f!2zMTFBIEvDvSBDb24sIFBoYW4gQuG7mWkgQ2jDonUsIEjhu5NuZyBCw6BuZywgSOG6o2kgUGjDsm5nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1476694000719" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>*@
            <!--Thông tin công ty và liên hệ-->
            <div class="info col-md-4 col-lg-4">
                <p>Liên hệ với chúng tôi</p>
                <ul>
                    <li><img src="~/images/header-footer/address-icon.png" alt="" /><span>Địa chỉ :</span> 11A Ký Con - Hồng Bàng - Hải Phòng</li>
                    <li><img src="~/images/header-footer/phone-icon.png" alt="" /><span>ĐT :</span> 0912.393.279</li>
                    <li><img src="~/images/header-footer/mail-icon.png" alt="" /><span>Mail :</span> Vudinhlong79@gmail.com</li>
                </ul>
                <div>
                    <div class="col-md-6 col-lg-6">
                        <input type="text" placeholder="Họ & tên..." value="" />
                        <input type="text" placeholder="Email..." value="" />
                        <input type="text" placeholder="Số điện thoại..." value="" />
                        <button type="submit">Gửi</button>
                    </div>
                    <textarea cols="20" rows="4" class="col-md-6 col-lg-6" placeholder="Nhập nội dung tin nhắn..."></textarea>
                </div>
            </div>
        </div>
    </footer>


    @*<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>*@
    @*<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>*@
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/trangchu/jquery.dlmenu.js"></script>

    <script>
        $(function () {

            $(window).bind('scroll', function () {
                var navHeight = $('.mobile').height();
                if ($(window).scrollTop() > navHeight) {
                    $('#dl-menu').addClass('fixed');
                }
                else {
                    $('#dl-menu').removeClass('fixed');
                }
            });

            $('#dl-menu').dlmenu({
                animationClasses: { classin: 'dl-animate-in-5', classout: 'dl-animate-out-5' }
            });
        });
    </script>

</body>
</html>
