
@{
    ViewBag.Title = "Baiviet";
}

<section class="trangbaiviet">
    <!--Banner-->
    <div class="banner col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="~/images/tuvan/banner-bg.png" alt="" />
    </div>

    <!--Phần nội dung-->
    <div class="phanthan col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Phần cột bên trái-->
        <aside class="hidden-xs hidden-sm col-md-3 col-lg-3">
            <a href="#" class="line-1 col-md-12 col-lg-12">Không gian đẹp</a>
            <a href="@Url.Action("Tuvan","Home")" class="line-2 col-md-12 col-lg-12">Góc tư vấn</a>

            <!--Bài viết liên quan-->
            <div class="baivietlienquan col-md-12 col-lg-12">
                <p class="col-md-12 col-lg-12">Bài viết liên quan</p>
                <div class="khung col-md-12 col-lg-12">
                    <div class="col-md-12 col-lg-12">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-1.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-2.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-3.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-4.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                </div>
            </div>
        </aside>

        <!--Phần bài viết chính-->
        <article class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
            <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">NGƯỜI TUỔI TỊ HỢP VỚI LOẠI GẠCH CÓ MÀU GÌ ?</p>
            <p class="noidung col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Người tuổi Rắn ít nói nhưng rất thông thái. Họ thích hợp với vùng đất ẩm ướt.
                Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị. sự phân hủy và sức sống trường tồn.
                Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                màu nhạt, lục bảo là màu thân với họ. Người tuổi Rắn ít nói nhưng rất thông thái. Họ thích hợp với vùng đất ẩm ướt.
                Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị. sự phân hủy và sức sống trường tồn.
                Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                màu nhạt, lục bảo là màu thân với họ. Người tuổi Rắn ít nói nhưng rất thông thái.
                Họ thích hợp với vùng đất ẩm ướt.
                Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị. sự phân hủy và sức sống trường tồn.
                Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                màu nhạt, lục bảo là màu thân với họ.
                <br />
                <br />
                Người tuổi Rắn ít nói nhưng rất thông thái. Họ thích hợp với vùng đất ẩm ướt.
                Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị. sự phân hủy và sức sống trường tồn.
                Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                màu nhạt, lục bảo là màu thân với họ. Người tuổi Rắn ít nói nhưng rất thông thái.
                Họ thích hợp với vùng đất ẩm ướt.
                Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị. sự phân hủy và sức sống trường tồn.
                Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                màu nhạt, lục bảo là màu thân với họ.
                Người tuổi Rắn ít nói nhưng rất thông thái. Họ thích hợp với vùng đất ẩm ướt.
                Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị.
                sự phân hủy và sức sống trường tồn. Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                màu nhạt, lục bảo là màu thân với họ.
            </p>
        </article>

        <!--Bài viết liên quan trên đt-->
        <aside class="col-xs-12 col-sm-12 hidden-md hidden-lg">
            <!--Bài viết liên quan-->
            <div class="baivietlienquan col-xs-12 col-sm-12">
                <p class="col-xs-12 col-sm-12">Bài viết liên quan</p>
                <div class="khung col-xs-12 col-sm-12">
                    <div class="col-xs-6 col-sm-3">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-1.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-2.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-3.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <a href="@Url.Action("Baiviet","Home")">
                            <img src="~/images/trangchu/contrinhtieubieu-4.png" alt="" /><br />
                            Phòng tắm khách sạn Hạ Long - Marine
                        </a>
                    </div>
                </div>
            </div>
        </aside>
    </div>

    <!--Sản phẩm nổi bật-->
    <div class="proj hidden-xs hidden-sm col-md-12 col-lg-12">
        <p class="col-md-12 col-lg-12">sản phẩm nổi bật</p>
        <div class="khung col-md-12 col-lg-12">
            <div class="col-md-3 col-lg-3">
                <a href="#">
                    <img src="~/images/trangchu/contrinhtieubieu-1.png" alt="" /><br />
                    Phòng tắm khách sạn Hạ Long - Marine
                </a>
            </div>
            <div class="col-md-3 col-lg-3">
                <a href="#">
                    <img src="~/images/trangchu/contrinhtieubieu-2.png" alt="" /><br />
                    Phòng tắm khách sạn Hạ Long - Marine
                </a>
            </div>
            <div class="col-md-3 col-lg-3">
                <a href="#">
                    <img src="~/images/trangchu/contrinhtieubieu-3.png" alt="" /><br />
                    Phòng tắm khách sạn Hạ Long - Marine
                </a>
            </div>
            <div class="col-md-3 col-lg-3">
                <a href="#">
                    <img src="~/images/trangchu/contrinhtieubieu-4.png" alt="" /><br />
                    Phòng tắm khách sạn Hạ Long - Marine
                </a>
            </div>
        </div>
    </div>
</section>