
@{
    ViewBag.Title = "Tuvan";
}

<section class="tuvan col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <!--Banner-->
    <div class="banner col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="~/images/tuvan/banner-bg.png" alt="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" />
        <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            Chúng tôi luôn luôn sẵn sàng tư vấn cho bạn một cách hoàn hảo cho
            căn nhà của bạn lộng lẫy hơn bao giờ hết.
        </p>
    </div>

    <!--Phần thân-->
    <article class="noidung col-xs-12 col-sm-12 col-md-12 col-lg-12">

        <!--Các bài viết-->
        <div class="cacbaiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!--Phần bài viết-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <!--Bài viết-->
                <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/images/tuvan/anhbaiviet.png" alt="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5" />
                    <div class="text col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</p>
                        <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Người tuổi Rắn ít nói nhưng rất thông thái.
                            Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị.
                            Sự phân hủy và sức sống trường tồn. Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                            Màu nhạt, lục bảo là màu thân với họ.
                        </p>
                        <a href="@Url.Action("Baiviet","Home")">Xem thêm</a>
                    </div>
                </div>

                <!--Bài viết-->
                <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</p>
                        <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Người tuổi Rắn ít nói nhưng rất thông thái.
                            Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị.
                            Sự phân hủy và sức sống trường tồn. Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                            Màu nhạt, lục bảo là màu thân với họ.
                        </p>
                        <a href="@Url.Action("Baiviet","Home")">Xem thêm</a>
                    </div>
                    <img src="~/images/tuvan/anhbaiviet.png" alt="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5" />
                </div>

                <!--Bài viết-->
                <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/images/tuvan/anhbaiviet.png" alt="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5" />
                    <div class="text col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</p>
                        <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Người tuổi Rắn ít nói nhưng rất thông thái.
                            Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị.
                            Sự phân hủy và sức sống trường tồn. Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                            Màu nhạt, lục bảo là màu thân với họ.
                        </p>
                        <a href="@Url.Action("Baiviet","Home")">Xem thêm</a>
                    </div>
                </div>

                <!--Bài viết-->
                <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="text col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</p>
                        <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Người tuổi Rắn ít nói nhưng rất thông thái.
                            Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị.
                            Sự phân hủy và sức sống trường tồn. Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                            Màu nhạt, lục bảo là màu thân với họ.
                        </p>
                        <a href="@Url.Action("Baiviet","Home")">Xem thêm</a>
                    </div>
                    <img src="~/images/tuvan/anhbaiviet.png" alt="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5" />
                </div>

                <!--Bài viết-->
                <div class="baiviet col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img src="~/images/tuvan/anhbaiviet.png" alt="" class="col-xs-12 col-sm-5 col-md-5 col-lg-5" />
                    <div class="text col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <p class="tieude col-xs-12 col-sm-12 col-md-12 col-lg-12">LOẠI GẠCH NÀO HỢP VỚI NGƯỜI TUỔI TỊ</p>
                        <p class="tomtat col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            Người tuổi Rắn ít nói nhưng rất thông thái.
                            Họ thích hợp với vùng đất ẩm ướt. Rắn tượng trưng cho sự tiến hóa vĩnh cửu của tuổi tác và sự kế vị.
                            Sự phân hủy và sức sống trường tồn. Với những người tuổi Tị thì luôn luôn vươn xa hơn, tiến mình đến với những thức cao cấp hơn.
                            Màu nhạt, lục bảo là màu thân với họ.
                        </p>
                        <a href="@Url.Action("Baiviet","Home")">Xem thêm</a>
                    </div>
                </div>
            </div>

            <!--Số trang-->
            <div class="num-page col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="pagination col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <!--Bài viết liên quan-->
        <div class="baivietlienquan col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">công trình tiêu biểu</p>
            <div class="khung col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="proj-1 col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("Baiviet","Home")">
                        <img src="~/images/trangchu/contrinhtieubieu-1.png" alt="" /><br />
                        Phòng tắm khách sạn Hạ Long - Marine
                    </a>
                </div>
                <div class="proj-2 col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("Baiviet","Home")">
                        <img src="~/images/trangchu/contrinhtieubieu-2.png" alt="" /><br />
                        Phòng tắm khách sạn Hạ Long - Marine
                    </a>
                </div>
                <div class="proj-3 col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("Baiviet","Home")">
                        <img src="~/images/trangchu/contrinhtieubieu-3.png" alt="" /><br />
                        Phòng tắm khách sạn Hạ Long - Marine
                    </a>
                </div>
                <div class="proj-4 col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <a href="@Url.Action("Baiviet","Home")">
                        <img src="~/images/trangchu/contrinhtieubieu-4.png" alt="" /><br />
                        Phòng tắm khách sạn Hạ Long - Marine
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>